In [ ]:
import pandas as pd
df = pd.read_csv("marketing_campaign.csv")
df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Complain,Z_CostContact,Z_Revenue,Response
0,5524,1957,Graduation,Single,58138.0,0,0,04-09-2012,58,635,...,7,0,0,0,0,0,0,3,11,1
1,2174,1954,Graduation,Single,46344.0,1,1,08-03-2014,38,11,...,5,0,0,0,0,0,0,3,11,0
2,4141,1965,Graduation,Together,71613.0,0,0,21-08-2013,26,426,...,4,0,0,0,0,0,0,3,11,0
3,6182,1984,Graduation,Together,26646.0,1,0,10-02-2014,26,11,...,6,0,0,0,0,0,0,3,11,0
4,5324,1981,PhD,Married,58293.0,1,0,19-01-2014,94,173,...,5,0,0,0,0,0,0,3,11,0

In [ ]:
r1 = df[df['Response']==1]

In [ ]:
r2 = df[df['Response']==0]

In [ ]:
rec1 = r1['Recency']
rec2 = r2['Recency']

In [ ]:
r1_sampled = rec1.sample(n=20, random_state=120)
r2_sampled = rec2.sample(n=20, random_state=120)

In [ ]:
r1list = r1_sampled.tolist()
r2list = r2_sampled.tolist()

In [ ]:
from scipy.stats import ttest_ind
# Implementing the t-test
t_test,p_val = ttest_ind(r1list, r2list)
print("The t-test is: ", t_test)
print("The P-value is: ", p_val)

# taking the threshold value as 0.05 or 5%
if p_val < 0.05:
    print("Relation exists between response and recency")
else:
    print("no relation between response and recency")

The t-test is:  -2.578056895691919
The P-value is:  0.01393679726815638
Relation exists between response and recency

In [ ]:
data1 = df[df['Kidhome']==0]
data2 = df[df['Kidhome']==1]
data3 = df[df['Kidhome']==2]

In [ ]:
import scipy.stats
new1 = data1['NumWebPurchases']
new2 = data2['NumWebPurchases']
new3 = data3['NumWebPurchases']

new1_sampled = new1.sample(n=20, random_state=120).tolist()
new2_sampled = new2.sample(n=20, random_state=120).tolist()
new3_sampled = new3.sample(n=20, random_state=120).tolist()
# Performing the F-Test
f_test, p_val = scipy.stats.f_oneway(new1_sampled, new2_sampled, new3_sampled)

print("f-test value is: ", f_test)
print("p-value is: ", p_val)

# taking the threshold value as 0.05 or 5%
if p_val < 0.05:
    print(" We can reject the null hypothesis")
else:
    print("We can accept the null hypothesis")

f-test value is:  3.3306213017751483
p-value is:  0.0428541329774914
 We can reject the null hypothesis

In [ ]:
print("Random state 100-120, hypothesis gets rejected")

Random state 100-120, hypothesis gets rejected